/* 
off-white rgba(255,250,255,255) 
pinky light pink rgb(253, 233, 234);
chestnut light pink rgb(249, 224, 219);

button pink rgb(243, 159, 163);
chestnut pink rgb(231, 181, 172);
strong brown pink rgba(137,80,97,255)

light green rgb(134, 159, 119);
dark green rgb(88, 128, 97);
dark green text rgb(60, 94, 68);
*/

.counter-wrapper {
    display: flex;
    justify-content: center;
}

.counter-parent {
    width: 50vw;
    height: 60vh;
    border: 0.15rem solid;
    border-radius: 25px;
    border-color: rgb(35, 54, 39);
    background-image: linear-gradient(to top, #fbd0d2, #f7cbcb, #f4c6c4, #f0c1bd, #ecbcb6, #e7bdb1, #e2bdad, #dcbeab, #d3c4b0, #ccc9b9, #cacdc3, #cccfcc);
}

.counter-parent h1 {
    color: rgb(35, 54, 39);
    font-family: 'Tilt Prism', cursive;
}

.number {
    margin-top: 2rem;
    font-weight: bold;
    height: 1.8rem;
    color: rgb(35, 54, 39);
    font-family: 'Philosopher', sans-serif;
}

.counter-buttons {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}

.counter-parent button {
    margin: 5px;
    border-radius: 5px;
    border: none;
    height: 1.8rem;
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    background-color: rgb(243, 159, 163);
    color: rgb(24, 44, 66);
}

@media only screen and (max-width: 1000px) {
    .counter-buttons {
        display: grid;
    }
    
    .counter-parent {
        width: 80vw;
        height: 50vh;
    }

  }

  @media only screen and (max-width: 400px) {
    .counter-parent h1 {
        font-size: 3vh;
    }
  }