/* 
off-white rgba(255,250,255,255) 
pinky light pink rgb(253, 233, 234);
chestnut light pink rgb(249, 224, 219);
 
button pink rgb(243, 159, 163);
chestnut pink rgb(231, 181, 172);
strong brown pink rgba(137,80,97,255);

light green rgb(134, 159, 119);
dark green rgb(88, 128, 97);
text dark green rgb(35, 54, 39);
*/

.quiz-wrapper {
    width: 50vw;
    height: 60vh;
    margin: auto;
    border: 0.15rem solid;
    border-radius: 25px;
    border-color: rgb(35, 54, 39);
    background-image: linear-gradient(to top, #fbd0d2, #f7cbcb, #f4c6c4, #f0c1bd, #ecbcb6, #e7bdb1, #e2bdad, #dcbeab, #d3c4b0, #ccc9b9, #cacdc3, #cccfcc);
}

.quiz-wrapper > h1 {
    font-family: 'Tilt Prism', cursive;
    color: rgb(35, 54, 39);
}

.points-of {
    color: rgb(35, 54, 39);
    font-family: 'Philosopher', sans-serif;
    margin: 1rem;
}

.card-wrapper {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    
}

.questions-card {
    width: 95%;
    height: auto;
    background-color: rgba(86, 94, 81, 0.144);
    border-radius: 25px;
    font-family: 'Philosopher', sans-serif;
    color: rgb(35, 54, 39);
}

.questions-card ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
}

.questions-card ul li {
    width: 85%;
    height: 5vh;
    line-height: 5vh;
    display: inline-block;
    vertical-align: middle;
    margin: 0.5rem auto;
    border-radius: 25px;
    background-color: rgb(60, 94, 68);
    color: rgb(249, 224, 219);
    font-family: 'Philosopher', sans-serif;
    cursor: help;
    user-select: none;
}

.result-card {
    width: 95%;
    height: 31vh;
    margin-top: 1vh;
    background-color: rgba(137, 80, 97, 0.25);
    border-radius: 25px;
    font-family: 'Philosopher', sans-serif;
    color: rgb(35, 54, 39);
}

.result-card button {
    margin: 5px;
    border-radius: 25px;
    border: none;
    height: 1.8rem;
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    background-color: rgb(255, 186, 59);
    color: rgb(35, 54, 39);
}

.result-card h1 {
    color: rgb(255, 186, 59);
    text-shadow: rgb(35, 54, 39) 0px 0px 2px;
}

@media only screen and (max-width: 1000px) {
    .quiz-wrapper {
        width: 80vw;
        height: auto;
    }

    .quiz-wrapper > h1 {
        font-size: 4vh;
        padding: 10px;
    }

    .questions-card {
        font-size: 2vh;
    }
}

@media only screen and (max-width: 500px) {
    .result-card {
        font-size: 1.5vh;
    }
}