@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,400;1,700&display=swap');

/* 
off-white rgba(255,250,255,255) 
pinky light pink rgb(253, 233, 234);
chestnut light pink rgb(249, 224, 219);

chestnut pink rgb(231, 181, 172);
strong brown pink rgba(137,80,97,255)

light green rgb(134, 159, 119);
dark green rgb(88, 128, 97);
text dark green rgb(35, 54, 39);
*/

.App {
  text-align: center;
}

/* ============= NAV BAR ============= */

.angies-projekte {
  color: rgb(35, 54, 39);
  font-family: 'Tilt Prism', cursive;
  font-size: 4vh;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Lobster', cursive;
}

a:link, a:visited {
  text-decoration: none;
  color: rgb(60, 94, 68);
  font-size: 2vh;
  padding: 20px 30px 40px 30px;
}

a:hover, a:active {
  background-color: rgb(249, 224, 219);
  border-radius: 15px;
  line-height: 2vh;
  transform: scale(1.5)
}

@media only screen and (max-width: 800px) {
  a:link, a:visited {
    padding: 10px 20px 30px 20px;
  }
}